function transformRole(role) {
  switch(role) {
    case 'marksman': return "射手"; break;
    case 'tank': return "坦克"; break;
    case 'support': return "辅助"; break;
    case 'fighter': return "战士"; break;
    case 'mage': return "法师"; break;
    case 'assassin': return "刺客"; break;
  }
}

function spells(index) {
  switch(index) {
    case 0: return "被动";
    case 1: return "Q";
    case 2: return "W";
    case 3: return "E";
    case 4: return "R";
  }
}

module.exports = {
  transformRole: transformRole,
  spells: spells
}